<nav class="d-flex">
    <a href="/campsites/new">List your campsite</a>
      <% if user_signed_in? %>
   <div class="nav-item active">
     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navlink"  %>
     <%= link_to "Dashboard", dashboard_path(@user), class: "navlink"  %>
   </div>
        <% else %>
    <div class="nav-item active d-flex">
      <a data-toggle="modal" data-target="#ModalSignin" href="">Sign in</a>
      <%= render "partials/sign_in"%>
    </div>
    <div class="nav-item active">
      <a data-toggle="modal" data-target="#ModalSignup" href="">Sign up</a>
      <%= render "partials/modal_signup"%>
    </div>
        <% end %>

  </nav>
