<div class="navbar border-bottom">
  <div>
    <%= link_to root_path do %>
    <%= image_tag('logo-camping.png') %>
    <% end %>
  </div>
<!--   <div class="dashboard-logo">
    <h1 class="text-align-left">Campyr</h1>
  </div> -->
  <nav>
    <a href="/campsites/new" class="btn btn-warning">add a new campsite</a>
  </nav>
</div>
