// main container
.main-container {
  background-color: #F4F4F4;
  border-radius: 10px;
  margin: 0px auto;
  padding: 25px;
  width: 1250px;
  display: flex;
  justify-content: space-around;
}

.main-container img {
  width: 20%
}

// campsite page for camper:
.container-info {
  display: block;
}

.container-info h1 {
  font-size: 35px;
  color: #294c1d;
  font-weight: bold;
  margin-bottom: 25px;
}

.container-info h3 {
  font-size: 20px;
  color: #E69930;
  font-weight: bold;
}

.container-info img {
  width: 80%;
  border-radius: 3px;
  margin-bottom: 20px;
}

.container-info p {
  font-size: 18px;
  color: #4f4f4f;
}

// campsite page for owner:
.container-info-owner {
  display: block;
  margin-left: 350px;
}

.container-info-owner h1 {
  font-size: 35px;
  color: #294c1d;
  font-weight: bold;
  margin-bottom: 25px;
}

.container-info-owner img {
  width: 50%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.container-info-owner p {
  font-size: 15px;
  color: #4f4f4f;
  margin-left: 10px;
}

.container-info-owner .white-box {
  background-color: white;
  border-radius: 4px;
  height: 100px;
  width: 430px;
}

// campsites index
.campsite-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  flex-wrap: wrap;
}


// dashboards:
.dashboard-container {
  background-color: #fcfcfc;
  margin: 30px auto;
  padding: 40px;
  width: 90%;
  color: #4f4f4f;
  border-radius: 4px;
}

.grid-container {
  background-color: #fcfcfc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  grid-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listing-container {
  width: 500px;
}

// search bar on index page for campsites
.search-bar-container {
  width: 1000px;
  margin: 40px auto 0px auto;
  padding: 15px;
  background-color: #fcfcfc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  flex-grow: 1;
  flex-wrap: nowrap;
  border-radius: 4px;
  align-items: center;
  // box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.search-bar-container .form-item {
  margin: 0 5px;
  height: 40px;
}
