.form-container {

  width: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  color: #777576;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 50px;
}

.form-container h2 {
  font-size: 20px;
  color: #E69930;
  text-align: center;
}

.form-container p {
  font-size: 15px;
}

.form-row {
  display: flex;
  justify-content: center;
}
