.search-form {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  color: #777576;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 65px;
  left: 65px;
}

.search-form h2 {
  font-size: 20px;
  color: #E69930;
  text-align: center;
}

.search-form p {
  font-size: 15px;
}

.form-row {
  display: flex;
  justify-content: center;
}

.booking-form {
  width: 700px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  color: #777576;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40px;
  left: 50px;
}

.booking-form h2 {
  font-size: 20px;
  color: #E69930;
  text-align: center;
}

.booking-form p {
  font-size: 15px;
}
