<%= render "partials/navbar"%>

<!-- details of campsite and search form-->
 <% if @campsite.user == current_user %>
  <%= render "partials/show_campsite_owner" %>
<% else %>
  <%= render "partials/show_campsite_camper" %>

<% end %>




<div class="footer">
  <!-- <p>Follow us</p> -->
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
